<div class="jmxElement <%=elementType%>" >
	<form>
		<div class="strProp headline">
			<img class="icon" src="res/feather.gif"/>
			<span class="jmxType"><%=elementType%></span>
			No handler for the node named <span class="jmxType"> <%=name%> </span>.
			<span class="toggle toggleAttrs"> Edit Raw... </span>
		</div>
		<div class="body collapsed">
		<%
		if(elementContent != ""){
			var scrubbedContent = elementContent.replace(/"/g,"'");
			/* TODO: SET ROWS BELOW TO NUMBER OF LINES IN CONTENT */
			%>
			<textarea width="100%" cols="100" rows="20" name="elementContent"><%=scrubbedContent%></textarea>
			<%
		}
		%>
		</div>
	</form>
</div>
