<div class="jmxElement <%=elementType%>" >
	<form>
		<div class="strProp headline">
			<img class="icon" src="res/feather.gif"/>
			<span class="jmxType"><%=elementType%></span>
			<span class="label">Name</span><input type="textbox" name="name" value="<%=name%>"></input>
			<span class="toggle toggleAttrs"> ... </span>
		</div>
	</form>
	<div class="body collapsed <%=elementType%>_children">
	</div>
</div>
