<div class="jmxElement <%=elementType%>">
	<div class="<%=elementType%>_children">
		<%
		for(var i=0; i < pcpairs.length; i++){
			var pair = pcpairs[i];
			var pnode = pair[0];
			var cnode = pair[1];
		%>
			<div id="<%=vid%>_child_<%=i%>" >
				<div class="nodecontents"></div>
				<div id="<%=vid%>_child_<%=(i+1)%>" >
				</div>	
			</div>
		<%
		}
		%>
	</div>
</div>
