* {
	font-family: "tahoma";
	font-size: 14px;
}
div,span,table {
	padding-left: 5px;
}

form{
	margin: 0;
}

div.ThreadGroup, div.TestPlan {
	border: lightblue 1px dashed;
}

img.icon {
	display: inline;
}

.jmxType {
	font-family: verdana;
	font-variant: small-caps;
}

.expanded {
	display: block;
}

.collapsed {
	display: none;
}
