<div class="jmxElement <%=name%>" >
	<form>
		<div class="headline">
			<img class="icon" src="res/feather.gif"/>
			<span class="jmxType"><%=name%></span>
			No handler for the node named <span class="jmxType"> <%=name%> </span>.
			<span class="toggle toggleAttrs"> Edit Raw... </span>
		</div>
		<div class="body collapsed">
		<%
		if(value != ""){
			var scrubbedContent = value.replace(/"/g,"'");
			/* TODO: SET ROWS BELOW TO NUMBER OF LINES IN CONTENT */
			%>
			<textarea width="100%" cols="100" rows="20" name="value"><%=scrubbedContent%></textarea>
			<%
		}
		%>
		</div>
	</form>
</div>
