<div class="jmxElement <%=elementType%>" >
	<form>
		<div class="strProp headline">
			<img class="icon" src="res/pipet.png"/>
			<span class="jmxType">Http Sampler</span>
			<span class="label">Name</span><input type="textbox" name="name" value="<%=name%>"></input>
			<span class="toggle toggleAttrs"> ... </span>
		</div>
		<div class="body collapsed">
<!-- 			
			<div class="strProp">
				<span class="label">Comments</span><input type="textbox" name="comments" value="comments"></input>
			</div> 
-->
			<div class="strProp">
				<div>Web Server</div>
				<span class="label">Server Name or IP</span><input type="textbox" name="domain" value="<%=domain%>"></input>
				<span class="label">Port</span><input type="textbox" name="port" value="<%=port%>"></input>
			</div>
			
			<div class="strProp">
				<div>HTTP Request</div>
				<span class="label">Protocol</span><input type="textbox" name="protocol" value="<%=protocol%>"></input>
				<span class="label">Content Encoding</span><input type="textbox" name="contentEncoding" value="<%=contentEncoding%>"></input>
				<div>
					<span class="label">Path</span><input type="textbox" name="path" value="<%=path%>"></input>
				</div>
			</div>
			<div>TBD : other elements that are data mapped, view incomplete</div>
		</div>
	</form>
</div>
